.venv/
.envrc
.set_env.sh

/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/private
/vendor

/dist

.env
.env.backup
.env.production
.phpunit.result.cache

npm-debug.log
yarn-error.log
